    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img id="foto-de-perfil" src="../../../assets/perfil.jpg" class="img-fluid">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p id="nombre">Cristian Diego Nieves</p>
            <p>Full Stack Developer jr</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                <h1>Acerca de mí</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero, corrupti. Minus, optio. Nihil earum doloribus nobis aspernatur dicta doloremque dignissimos voluptatum ut totam, ratione a voluptatem architecto ducimus itaque animi aut eaque amet nostrum. Libero tempore itaque quis, dolore aperiam nihil accusantium perspiciatis aspernatur? Id itaque assumenda cupiditate dolores deleniti!</p>  
            </span>
        </div>
    </div>

