<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4" >
        <circle-progress
            [percent]="80"
            [radius]="100"
            [imageSrc]="'../assets/html.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#f50'"
            [innerStrokeColor]="'#fa0'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4" >
        <circle-progress
            [percent]="85"
            [radius]="100"
            [imageSrc]="'../assets/css.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#06f'"
            [innerStrokeColor]="'#0af'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4" >
        <circle-progress
            [percent]="20"
            [radius]="100"
            [imageSrc]="'../assets/js.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#fc0'"
            [innerStrokeColor]="'#fc0'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4" >
        <circle-progress
            [percent]="50"
            [radius]="100"
            [imageSrc]="'../assets/github2.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#fff'"
            [innerStrokeColor]="'#aaa'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4" >
        <circle-progress
            [percent]="65"
            [radius]="100"
            [imageSrc]="'../assets/photoshop.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#003'"
            [innerStrokeColor]="'#0ff'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4" >
        <circle-progress
            [percent]="90"
            [radius]="100"
            [imageSrc]="'../assets/equipo.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#f0f'"
            [innerStrokeColor]="'#a0f'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
</div>